.Header{
Display :flex ;
align-items: center;
justify-content: space-between;
 padding: 10px;
 background-color: black;
}

.Menu{
  text-transform: lowercase;
  text-decoration: underline;
  Display :flex ;
align-items: center;
}
.Menu a{
margin-left: 50px;
text-decoration: none;
color:white;
}
.H3{
color:white;
}
.i{
  width: 190px;
}
.p1{
display: flex;
justify-content: center;
align-items: center;;
color:white;
background-color: black;
-moz-background-inline-policy: each-box;

}
